.menu_1{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.menu_1 li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.menu_1 li{
    float: left;
    padding: 0 8px 5px 8px;
}
.menu_1 li:hover{
    border: 5px;
    background-color: darkred;
}
.menu_1 li a:hover{
    color: aliceblue;
}

.logo_1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}
.ICU{
    display: flex;
    align-items: center;
}
.icon_input{
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    padding: 5px;
    border-radius:5px ;
    margin-right: 5px;
    
}
.icon_input input{
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
}
.input_1:focus {
    outline: none;
  }
.btn{
    border-style: none;
    font-size: 16px;
    background: transparent;
}
.btn:hover{
    color: azure;
}
.btn_1{
    padding: 4px 2px 4px 2px;
}
.btn_1:hover{
    background-color: rgb(32, 65, 56);
    border: 5px;
}
.USerrs .md{
    margin-left: 9px;
    font-size: 18px;
    color: black;
}
.USerrs .md:hover{
    color: rgb(36, 132, 4);
}

.img{
    background-image: url(../Code_GD/1_ProductListing/Image\ 1.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
}
.img_2{
    position: absolute;
    top: 89px;
    left: 194px;
    font-size: 20px;
}
.menu_3 li{
    float: left;
    font-size: 20px;
    
}
.menu_3 li a{
    text-decoration: none;
    color: chartreuse;
    padding: 7px 32px 7px 32px;
    border-style: solid;
    border-width: 0 1px 0 0;
}

.menu_3 li a:hover{
    background-color: chartreuse;
    color: aliceblue;
}
.menu_3{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header_body{
    display: flex;
    justify-content: space-around;
}
.header_right{
    display: flex;

}
.container_menu{
    margin-top: 30px;
}
.icon_input_2{
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    border-radius:5px ;
    margin-right: 10px;
    padding: 7px 0 7px 0;
}
.header_right{
    display: flex;
    align-items: center;
} 
.icon_input_2 input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.input_2:focus {
outline: none;
}
.btn_2{
    display: flex;
    padding: 7px 5px 7px 5px;
}
.btn_C1{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 20px;
}
.others{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_T{
    display: flex;
    flex-wrap: wrap;
}
.card_1{
    display: grid;
    width: 25%;
    justify-items: stretch;
    justify-content: center;
}
.trang{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trang a{
    margin: 0 10px 0 10px;
    text-decoration: none;
    text-align: center;
    height: 20px;
    width: 20px;
}
.trang a:hover{
    background-color: chartreuse;
    border-width:3px ;
    border-radius:50%;
    
}
footer {
    display: flex;
    justify-content: space-around;
}
.duoi{
    display: flex;
}
.btn_end{
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 5px;
}
footer div ul li{
    float: left;
    list-style: disc;
}
footer div ul li a{
    color: aliceblue;
    font-size: 10px;
    margin-right: 25px;
    text-decoration: none;
}
.ip_end{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.ip_end:focus {
outline: none;
}